*{
    box-sizing:border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    align-items: center;
    z-index:5;
    background-color:white;
}

.header__mobile-menu {
    display: none;
    cursor: pointer;
    margin-left: 1rem;
}

.header__mobile-menu span {
    display: block;
    width: 1.8rem;
    height: 0.1rem;
    background-color: black;
    margin-bottom: 5px;
    margin-top:5px;
    transition: transform 0.3s ease;
}

.header__navbar {
    display: flex;
    justify-content: flex-end;
    margin-left:auto;
    gap:1rem;
}

.header__navbar a {
    padding: 14px 16px;
    text-align: center;
    color: black;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;

}

.header__navbar a:hover {
    background-color: rgb(50.2%, 71.4%, 76.9%,0.7);
    border-radius: 20px;
    font-weight:600;

}
@media (max-width: 768px) {
    .header__mobile-menu {
        display: block;
    }

    .header__navbar {
        display: none;
        flex-direction: column;
        gap: 1rem;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }

    .header.active .header__navbar {
        display: flex;
    }
}



section{
    min-height: 100vh;
    min-width: 10vh;
    padding: 80px 100px;
}

/*---------------------HOME---------------------*/

.home{
    display:flex;
    align-items:center;
    position: relative;
    width: 100%;
    background-color: rgb(70.6%,83.1%,86.3%,0.8);
    background-size: cover;
    object-fit: cover;
    justify-content: center;
}

.home .home__text-box{
    max-width:44rem;
}

.home__text-box h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .4;

}
.home__text-box h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 1rem 0;
    display: inline-grid;
    margin-top:5px;
}
.home__text-box h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 1rem 0;
    display: inline;
}
.home__text-box p{
    font-size:clamp(1.2rem,1.5rem,1.5rem);.
}
.home__text-box .home__text-box__icons{
    margin-top: 30px;
}

.home__text-box .home__text-box__icons a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:15.5rem;
    height:4rem;
    border:.2rem solid rgb(79,150,169);
    color:black;
    margin-right:30px
}
.home__text-box .home__text-box__icons a:hover{
    background-color: rgb(50.2%, 71.4%, 76.9%,1);
}
.home .home__image-box{
    padding:10px;
    top: 0;
    right:0;
    background-color: white;
    border-radius: 50%;
}

.home .home__image-box img{
    width:500px;
    height:500px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        padding: 50px 20px;
    }

    .home__text-box {
        text-align: center;
        margin-bottom: 20px;
    }

    .home__text-box h3 {
        margin-top: 20px;
        font-size:2rem;
    }

    .home__text-box h2 {
        margin: 5px 0;
        font-size:1.6rem;
    }

    .home__text-box h1 {
        margin: 5px 0;
        font-size:3rem;
    }

    .home__text-box p {
        margin-bottom: 20px;
    }

    .home__text-box .home__text-box__icons a {
        width: 120px;
        height: 35px;
        font-size: 1rem;
        margin: 0 10px;
    }

    .home__image-box {
        margin-top: 20px;
    }

    .home__image-box img {
        max-width: 100%;
    }
}

/*---------------------ABOUT---------------------*/

.about{
    display:flex;
    align-items:stretch;
    justify-content: center;
    gap:4rem;
    border:60px solid #80b4c4;
    height: 100vh;
}

.about .about__about-img,.about__about-box{
    width:50%;
}

.about__about-img img{
    width: 100%;
    height: calc(100% - 60px);
    object-fit: cover;
    margin: auto;
    border-radius: 15%;
    padding: 2.5rem 3rem;
    gap: 3rem;
    display: block;
}

.about__about-img .about__about-img__cv-button{
    background-color: rgb(182,213,221);
    color:black;
    width:50%;
    margin: auto;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
}

.about__about-img .about__about-img__cv-button:hover {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.6s ease;
}

.heading{
    font-size:3.5rem;
    text-align:center;

}
.about__about-box h2{
    text-align:left;
    line-height:1.2;
    color:rgb(47,90,101);
}

.about__about-box h3{
    font-size:2rem;
    color:#80b4c4;
}
.about__about-box p{
    font-size:0.8rem;
    margin: 0.5rem 0 1rem;
    font-family: Raleway,sans-serif;
}
.about__about-box .about__about-box__paragraph-1{
    background-color: #bfe1d8;

}
.about__about-box .about__about-box__paragraph-2{
    background-color: #bfd9e1;
}

.about__about-box .about__about-box__paragraph-1,.about__about-box__paragraph-2{
    padding: 0.8rem 0.8rem;
    margin-top: 1rem;
    border-radius: 5px;
    gap: 1rem;
    display:block;
    height:8.5rem;


}

.about__about-box .about__about-box__paragraph-1 h4,.about__about-box .about__about-box__paragraph-2 h4{
    font-size: 1.5rem;
    color:rgb(47,90,101);
    font-weight: 600;
    margin-bottom: 1rem;
}

.about__about-box .about__about-box__paragraph-1:hover,
.about__about-box .about__about-box__paragraph-2:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease;
}

@media (max-width: 1000px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        height: auto;
        padding: 40px;
    }

    .about .about__about-img,
    .about__about-box {
        width: 100%;
    }

    .about__about-img img {
        width: 80%;
        height: 80%;
        padding:1rem 1rem;
    }

    .about__about-img .about__about-img__cv-button {
        width: 100%;
    }

    .heading {
        font-size: 3.5rem;
    }

    .about__about-box h2 {
        text-align: center;
    }

    .about__about-box .about__about-box__paragraph-1 h4,
    .about__about-box .about__about-box__paragraph-2 h4 {
        font-size: 0.7rem;
        color: rgb(47, 90, 101);
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .about .about__about-img {
        order: 2;
    }

    .about .about__about-box {
        order: 1;
    }
}
@media (max-width: 430px){
    .about__about-box .about__about-box__paragraph-1 h4,
    .about__about-box .about__about-box__paragraph-2 h4 {
        font-size: 1rem;
    }
    .about__about-box .about__about-box__paragraph-1 p,
    .about__about-box .about__about-box__paragraph-2 p{
        font-size: 0.5rem;
    }
}


/*-----------FOOTER--------------------------- */

.footer {
    background-color: rgb(47, 90, 101);
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.footer__footer-social {
    margin-top: 1rem;
    text-align: center;
}

.footer__footer-social__icon {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.footer__footer-social__icon:hover {
    color: #80b4c4;
}

.footer-text {
    text-align: center;
    margin-top: 1rem;
}




















