.strategy {
    width: 100%;
    margin:auto;
    display: flex;
    gap: 5rem;
    justify-content: center;
    border:60px solid #80b4c4;
    align-items: flex-start;
}

.strategy__left-box {
    flex: 1;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    margin-left:10rem;
    width:100%;
}

.strategy__left-box h3 {
    font-size: 3rem;
    font-weight: bold;
    font-family: Raleway,sans-serif;

    margin-bottom: 1rem;
    color: rgb(47,90,101);

}

.strategy__left-box p {
    font-size: 1.2rem;
    color: #666;
}

.strategy__left-box__mini-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.strategy__left-box__mini-grid__mini-box {
    text-align: center;
    background-color: rgb(160,214,214);
    padding: 1rem;
    border-radius: 8px;
}

.strategy__left-box__mini-grid__mini-box p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.strategy__left-box__mini-grid__mini-box p:last-child {
    font-size: 1.2rem;
    color:black;
}

.strategy__right-box {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.strategy__right-box__type-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    width:100%;
}

.strategy__right-box__type-box__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategy__right-box__type-box__image img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.strategy__right-box__type-box__content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.strategy__right-box__type-box__content h4 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.strategy__right-box__type-box__content p {
    font-size: 1.2rem;
    color: #666;
    margin: 0;
}
.strategy__right-box__type-box__content h4 i {
    font-size: 1.2rem;
    margin-left: 0.5rem; /* Spațiu între iconiță și text */
}


.arrow-link {
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    color: #007bff;
    transform: translate(50%, 50%);
}

/*(vine din stanga) */
@keyframes slide-in-left {
    from {
        transform: translateX(-30%);
    }
    to {
        transform: translateX(0);
    }
}

/*  (vine din dreapta) */
@keyframes slide-in-right {
    from {
        transform: translateX(30%);
    }
    to {
        transform: translateX(0);
    }
}

/*  (merge spre stânga) */
@keyframes slide-out-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}

/*  (merge spre dreapta) */
@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(30%);
    }
}
.strategy:hover .strategy__left-box {
    animation: slide-in-left 1s forwards;
}

.strategy:hover .strategy__right-box {
    animation: slide-in-right 1s forwards;
}

.strategy:not(:hover) .strategy__left-box {
    animation: slide-out-left 1s forwards;
}

.strategy:not(:hover) .strategy__right-box {
    animation: slide-out-right 1s forwards;
}
@media (max-width: 1000px) {
    .strategy {
        flex-direction: column;
        align-items: center;
    }

    .strategy__left-box, .strategy__right-box {
        margin: 0;
        width: 100%;
    }

    .strategy__right-box__type-box {
        flex-direction: column;
        gap: 0;
    }

    .strategy__right-box__type-box__image {
        margin-bottom: 1rem;
    }
}





/* Stilurile pentru secțiune */

.my-projects-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 100vw; /* Lățimea secțiunii va fi maxim 100% din viewport */
    overflow: hidden; /* Ascundem orice conținut care depășește lățimea viewport-ului */
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.icon {
    position: relative;
    cursor: pointer;
}

.icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon-title {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    visibility: hidden;
    opacity: 0;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    transition: visibility 0.2s, opacity 0.2s;
}

.icon:hover .icon-title {
    visibility: visible;
    opacity: 1;
}

/* Stilurile pentru gridul de proiecte */

.featured-projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; /* Spațiul dintre poze */
    margin-top: 2rem;
    width: 100%; /* Lățimea gridului de proiecte va fi 100% din secțiune */
    max-width: 600px; /* Setăm o lățime maximă pentru a centra gridul */
}

.project {
    position: relative;
    overflow: hidden; /* Ascundem descrierea */
    width: 100%; /* Lățimea fiecărui element de proiect va fi 100% din grid */
}

.project img {
    width: 100%; /* Imaginile vor umple întreaga lățime a fiecărui element de proiect */
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: filter 0.3s; /* Adăugăm o tranzitie pentru efectul de întunecare */
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* O culoare de fundal semitransparentă */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    opacity: 0; /* Inițial, setăm opacitatea la 0 pentru a ascunde descrierea */
    pointer-events: none; /* Pentru a nu bloca interacțiunea cu poza */
    transition: opacity 0.3s; /* Adăugăm o tranzitie pentru afișarea descrierii la hover */
}

.project:hover img {
    filter: brightness(70%); /* La hover, reducem luminozitatea imaginii pentru efectul de întunecare */
}

.project:hover .project-description {
    opacity: 1; /* La hover, setăm opacitatea la 1 pentru a afișa descrierea */
}






/* Stilurile pentru secțiunea de contact */

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Stilurile pentru partea de abonați */

.subscribe {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem; /* Adăugăm o margine între secțiuni pe dispozitivele mobile */
}

.subscribe h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subscribe p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1.5rem;
    text-align: center; /* Centrăm textul în centru pe dispozitivele mobile */
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.subscribe-form label {
    margin-bottom: 0.5rem;
}

.subscribe-form input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.subscribe-form button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Stilurile pentru partea de formular de contact */

.contact-form {
    flex-basis: 100%;
}

.contact-form h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.contact-form label {
    font-size: 1.2rem;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    gap: 1rem;
}

.radio-group label {
    font-size: 1.2rem;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Media queries pentru responsive */

@media screen and (min-width: 768px) {
    .contact-section {
        display: flex;
        justify-content: center;
        align-items:center; /* Aliniem secțiunile sus în layoutul de tip "row" */
    }

    .subscribe {
        flex-basis: 30%; /* Lățimea secțiunii de abonare pe ecranele mari */
        margin-bottom: 0; /* Anulăm marginea pe ecranele mai mari */
    }

    .contact-form {
        flex-basis: 65%; /* Lățimea formularului de contact pe ecranele mari */
        margin-left: 2rem; /* Adăugăm o mică margine între secțiunile de abonare și formular pe ecranele mai mari */
    }
}