.strategy {
    width: 100%;
    margin:auto;
    display: flex;
    gap: 5rem;
    justify-content: center;
    border:60px solid #80b4c4;
    align-items: flex-start;
}

.strategy__left-box {
    flex: 1;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    margin-left:10rem;
    width:100%;
}

.strategy__left-box h3 {
    font-size: 3rem;
    font-weight: bold;
    font-family: Raleway,sans-serif;

    margin-bottom: 1rem;
    color: rgb(47,90,101);

}

.strategy__left-box p {
    font-size: 1.2rem;
    color: #666;
}

.strategy__left-box__mini-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.strategy__left-box__mini-grid__mini-box {
    text-align: center;
    background-color: rgb(160,214,214);
    padding: 1rem;
    border-radius: 8px;
}

.strategy__left-box__mini-grid__mini-box p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.strategy__left-box__mini-grid__mini-box p:last-child {
    font-size: 1.2rem;
    color:black;
}

.strategy__right-box {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.strategy__right-box__type-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    width:100%;
}

.strategy__right-box__type-box__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategy__right-box__type-box__image img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.strategy__right-box__type-box__content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.strategy__right-box__type-box__content h4 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.strategy__right-box__type-box__content p {
    font-size: 1.2rem;
    color: #666;
    margin: 0;
}
.strategy__right-box__type-box__content h4 i {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}


.arrow-link {
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    color: #007bff;
    transform: translate(50%, 50%);
}

/*(vine din stanga) */
@keyframes slide-in-left {
    from {
        transform: translateX(-30%);
    }
    to {
        transform: translateX(0);
    }
}

/*  (vine din dreapta) */
@keyframes slide-in-right {
    from {
        transform: translateX(30%);
    }
    to {
        transform: translateX(0);
    }
}

/*  (merge spre stânga) */
@keyframes slide-out-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}

/*  (merge spre dreapta) */
@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(30%);
    }
}
.strategy:hover .strategy__left-box {
    animation: slide-in-left 1s forwards;
}

.strategy:hover .strategy__right-box {
    animation: slide-in-right 1s forwards;
}

.strategy:not(:hover) .strategy__left-box {
    animation: slide-out-left 1s forwards;
}

.strategy:not(:hover) .strategy__right-box {
    animation: slide-out-right 1s forwards;
}
@media (max-width: 1000px) {
    .strategy {
        flex-direction: column;
        align-items: center;
    }

    .strategy__left-box, .strategy__right-box {
        margin: 0;
        width: 100%;
    }

    .strategy__right-box__type-box {
        flex-direction: column;
        gap: 0;
    }

    .strategy__right-box__type-box__image {
        margin-bottom: 1rem;
    }
}





/* -----------------------PROJECTS-------------------*/

.projects {
    position: relative;
    width: 100%;
    top:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:60px solid #80b4c4;
    padding: 4rem;
    max-width: 100vw;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.projects__icons-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.projects__icons-box__icon {
    position: relative;
    cursor: pointer;
}

.projects__icons-box__icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.icon-title {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    margin-left: -20px;
    visibility: hidden;
    opacity: 0;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: visibility 0.2s, opacity 0.2s;
}

.projects__icons-box__icon:hover .icon-title {
    visibility: visible;
    opacity: 1;
}



.projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
    width: 100%;
    max-width: 1000px;
}

.projects__grid__project-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height:280px;
}

.projects__grid__project-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: filter 0.3s;
}

.projects__grid__project-box__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.projects__grid__project-box:hover img {
    filter: brightness(70%);
}

.projects__grid__project-box:hover .projects__grid__project-box__description {
    opacity: 1;
}
@media (max-width: 768px) {
    .projects {
        padding: 2rem;
    }

    .projects__icons-box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .projects__icons-box__icon img {
        width: 40px;
        height: 40px;
    }

    .icon-title {
        font-size: 0.7rem;
    }

    .projects__grid {
        grid-template-columns: 1fr;
    }

    .projects__grid__project-box {
        height: auto;
        margin-bottom: 1rem;
    }

    .projects__grid__project-box img {
        height: 200px;
    }

    .projects__grid__project-box__description {
        padding: 0.5rem;
    }

    .projects__grid__project-box__description p {
        font-size: 0.9rem;
    }

}




/* -----------------------------CONTACT------------------------------ */

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    margin: auto;
    border:60px solid #80b4c4;

}


.contact__contact-box {
    flex-basis: 100%;
    max-width: 600px;
}
.contact__contact-box .heading{
    color:rgb(47, 90, 101) ;
}

.contact__contact-box form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.contact__contact-box label {
    font-size: 1.2rem;
    font-weight: bold;
    color:rgb(47, 90, 101);
}

.contact__contact-box__form input[type="text"],
.contact__contact-box__form input[type="email"],
.contact__contact-box__form input[type="tel"],
.contact__contact-box__form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.contact__contact-box button {
    padding: 0.5rem 1rem;
    background-color: rgb(47, 90, 101);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}


@media screen and (min-width: 768px) {
    .contact {
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .subscribe {
        flex-basis: 30%;
        margin-bottom: 0;
    }

    .contact__contact-box {
        flex-basis: 65%;
        margin-left: 2rem;
    }
}